<h2>Films</h2>
<div class="spinner">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<mat-table #table [dataSource]="dataSource" *ngIf="!isLoading">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="producer">
    <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.producer}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="director">
    <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.director}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="release_date">
    <mat-header-cell *matHeaderCellDef> Release date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.release_date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
